apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend-image-k8:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3500
          env:
            - name: MONGO_CONN_STR
              value: "mongodb://mongo:27017/mydb"